video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .calor {
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 10px;
  }

 .arrow {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation-name: scale;
    margin-top: 650px;
    margin-left: 925px;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#cruise {
        z-index: 0;
        Float: left;
        width: 100%;
        margin-top: 30px;
}

@keyframes scale {
    0% {
        transform: scale(1)  rotate(45deg); 
    }
    50% {
        transform: scale(4.5) rotate(45deg); 
    }
    100% {
        transform: scale(1) rotate(45deg); 
    }
}
#Friends {
    height: 1200px;
}
body {
    background-color: tan;
}